@charset "UTF-8";

.Button{
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 100%;
    animation-name: leftright;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes leftright {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }


    100%{
        transform: translateX(0px);
        opacity: 1;
    }
    
}

.movment2{
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes bounce {

    from{

        transform: translateX(0px);
    }
    to{
        transform: translateX(10px);

    }
    
}
